.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
}

.sm {
  max-width: var(--container-sm);
}

.md {
  max-width: var(--container-md);
}

.lg {
  max-width: var(--container-lg);
}
